<!DOCTYPE html>
<html lang="pt_br"> <!-- lang e um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy > Sua plataforma de estudos online</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-success.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-success">
    <div id="container">
        
        <main>

            <div class="logo-container">
                <img src="/images/icons/success-check-icon.svg" alt="Sucesso">
                <h2>Boa, Proffy! Suas aula(s) foram cadastradas com sucesso.</h2>
                
            </div>

        </main>
    </div>   
    <script>
        setTimeout(function () {
           // after 2 seconds
           window.location = "/study";
        }, 2000)
      </script>
</body>
</html>